<div class="card bg-master my-2 text-white shadow">
    {% if editing is not defined or editing == true %}
        <div class="dark-hover flex-center">
            <a href="{{ path('character_edit', {id: character.id}) }}" class="btn btn-lg text-white h-100 w-100 flex-center flex-column">
                <i class="fa fa-edit pt-3"></i>
                {% if character.modifiedAt is not null %}
                    <span class="opacity-75 pt-3" style="font-size: x-small;">modifié le {{ character.modifiedAt|date('d/m/Y') }}</span>
                {% endif %}
            </a>
        </div>
    {% endif %}
    <div class="card-head">
        <div class="p-relative">
            <h5 class="text-center">{{ character.name }}</h5>
            <span class="badge bg-success border position-absolute" style="top:4px; left:4px; border-radius: 50%;">{{ character.level }}</span>
        </div>
        <div class="w-100 bg-dark" style="height: 3px;">
            <div class="bg-warning h-100" style="width: {{ character.experience ?: 0 }}%;"></div>
        </div>
    </div>
    <div class="card-body p-0">
        <img src="{{ character.image }}" alt="Image du personnage {{ character.name }}" class="media-img">
    </div>
    <div class="card-foot py-2">
        <div class="flex-center-eve">
            <small title="Attaque" class="text-danger"><i class="fa fa-fist-raised"></i> {{ character.strong }}</small>
            <small title="Défense" class="text-primary"><i class="fa fa-shield-alt"></i> {{ character.guard }}</small>
            <small title="Vitesse" class="text-warning"><i class="fa fa-wind"></i> {{ character.speed }}</small>
        </div>
    </div>
</div>