{% extends 'base.html.twig' %}

{% block title %}Combat{% endblock %}

{% block body %}
<div class="px-1">
    <div class="card w-100 py-2 px-1">
        <div class="row px-2">
            {% for character in characters %}
                <a title="{{ character.name }}" data-char="{{ character.id }}" class="pointer select-char col-lg-2">
                    <img src="{{ character.image }}" alt="Image du personnage {{ character.name }}" class="media-img mini-media-img shadow">
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="flex-column flex-center">
        <h2 class="text-center mt-5">Choisissez les équipes</h2>
        <a id="selectRandom" class="btn btn-info text-white"><i class="fa fa-redo"></i> Aléatoire</a>
    </div>
    <div class="flex-center-btw">
        <div id="f_team" class="col-lg-4 card p-3">
            <h3 class="text-primary text-center">Equipe1</h3>
        </div>
        <div class="">
            <a id="btnFight" class="btn btn-lg btn-danger mt-5">FIGHT !</a>
        </div>
        <div id="s_team" class="col-lg-4 card p-3">
            <h3 class="text-danger text-center">Equipe2</h3>
        </div>
    </div>
</div>

<div id="fightContainer" class="dark-card" style="display: none;">
    <div class="h-100 m-auto">
        <div class="card bg-dark h-100 flex-center">
            <div id="fightCard" class="flex-center text-white flex-column">
                <i id="loader" class="fa fa-redo rotate h1 mb-5"></i>
                <h3 id="currentFightText">Le sons des tambours résonnent...</h3>
                <h2 id="fightTeamWin"></h2>
                <div id="fightWinner" class="my-2 row flex-center-eve"></div>
                <div id="fightLogs" class="h-25 my-3 overflow-auto"></div>
                <a id="closeFight" class="btn btn-sm btn-danger">Fermer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ include('fight/js/fight.js.twig') }}
{% endblock %}