{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="px-1">
    <div class="card w-100 py-2 px-1">
        <div class="flex-center">
            {% for character in characters %}
                <a title="{{ character.name }}" data-char="{{ character.id }}" class="mx-1 shadow pointer select-char">
                    <img src="{{ character.image }}" alt="Image du personnage {{ character.name }}" width="150px">
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="flex-column flex-center">
        <h2 class="text-center mt-5">Choisissez les équipes</h2>
        <a id="selectRandom" class="btn btn-info text-white"><i class="fa fa-redo"></i> Aléatoire</a>
    </div>
    <div class="flex-center-btw">
        <div id="f_team" class="col-lg-4">
            <h3 class="text-primary text-center">Equipe1</h3>
        </div>
        <div>
            <a id="btnFight" class="btn btn-lg btn-danger mt-5">FIGHT !</a>
        </div>
        <div id="s_team" class="col-lg-4">
            <h3 class="text-danger text-center">Equipe2</h3>
        </div>
    </div>
</div>

<div id="fightContainer" class="dark-hover" style="display: none;">
    <div class="col-lg-7 h-100 m-auto">
        <div class="card bg-dark h-100">
            <div id="fightCard" class="flex-center full-h text-white flex-column">
                <i id="loader" class="fa fa-redo rotate h1 mb-5"></i>
                <h3 id="currentFightText">Le sons des tambours résonnent...</h3>
                <div id="fightWinner" class="row flex-center-eve">

                </div>
                <div id="fightLogs" class="h-25 overflow-auto">

                </div>
                <a id="closeFight" class="btn btn-sm btn-danger d-block m-auto">Fermer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    
    //
    $(document.body).on('click', '.select-char', function(){

        let $this = $(this);

        if ($this.hasClass('disabled')) 
            return;
        else
            $.post("{{ path('select-char') }}", {character: $this.data('char')}, function(data){
                if (data.success === true) {
                    $('#' + data.team).append(data.html);
                    $this.addClass('disabled');
                }
            });

    });

    //
    $(document.body).on('click', '#selectRandom', function(){

        let available = $('.select-char:not(.disabled)').toArray();

        $.post("{{ path('check') }}", function(data){
            for (let i = data.selected; i < 4; i++) {
                nbr = randomNumber(0, available.length);    
                available[nbr].click();
                available.splice(nbr, 1);
            }
        });

    });

    $(document.body).on('click', '#btnFight', function(){

        $.post("{{ path('check') }}", function(data){
            if (data.selected.length !== 4)
                return;

            $('#fightContainer').show();
            
            $.post("{{ path('fighting') }}", function(data){
                setTimeout(() => {
                    $('#currentFightText').text('Le fer des épées s\'entrecroisent ...');
                }, 2000);

                setTimeout(() => {
                    $('#currentFightText').text('La lutte est sanglante ...');
                }, 4000);

                setTimeout(() => {
                    $('#currentFightText').text('Résultat de la bataille !');
                    $('#loader').hide();
                    data.html.forEach(element => {
                        $('#fightWinner').append('<div class="col-lg-5">'+element+'</div>');
                    });
                    // data.logs.forEach(element => {
                    //     $('#fightLogs').append('<span class="col-lg-5">'+element.damage+'</span>');
                    // });
                
                }, 6000);
            });
            
        });

    });

    $(document.body).on('click', '#closeFight', function(){
        $('#fightContainer').hide();
        $(location).attr("href", "/fight");
    });

    //
    function randomNumber(min = 0, max) {
        return Math.floor(Math.random() * (max - min) + min);
    }
</script>
{% endblock %}